NODE_ENV=development
PORT=3000
# log level for logger nest
LOG_LEVEL=log,warn,error

# JWT and APP secrets
JWT_SECRET=
APP_SECRET=

# Database configuration
DB_TYPE=postgres
DB_POOL_MAX=20
DB_POOL_MIN=5
DB_POOL_IDLE=30000
DB_POOL_ACQUIRE=60000
DB_LOGGING=true
DB_LOGGING_LEVEL=info
DB_LOGGING_FORMAT=pretty
# DB cache settings
DB_CACHE_ENABLED=true
DB_CACHE_TYPE=redis # redis, inmemory
DB_CACHE_DURATION=60
DB_REDIS_HOST=127.0.0.1
DB_REDIS_PORT=46379
DB_REDIS_USERNAME=default
DB_REDIS_PASSWORD=lkmnBio27
DB_REDIS_DB=0
# DB connection settings
DB_MASTER_HOST=localhost
DB_MASTER_PORT=5432
DB_MASTER_USER=master_user
DB_MASTER_PASSWORD=secret_master_password
DB_MASTER_DB=example_db
# DB slave settings
DB_SLAVE_COUNT=3
DB_SLAVE_1_HOST=localhost
DB_SLAVE_1_PORT=5432 
DB_SLAVE_1_USER=slave_user
DB_SLAVE_1_PASSWORD=secret_slave_password
DB_SLAVE_1_DB=example_db
DB_SLAVE_2_HOST=localhost
DB_SLAVE_2_PORT=5432
DB_SLAVE_2_USER=slave_user
DB_SLAVE_2_PASSWORD=secret_slave_password
DB_SLAVE_2_DB=example_db
DB_SLAVE_3_HOST=localhost
DB_SLAVE_3_PORT=5432
DB_SLAVE_3_USER=slave_user
DB_SLAVE_3_PASSWORD=secret_slave_password
DB_SLAVE_3_DB=example_db

# RABBITMQ configuration
RABBITMQ_URLS=amqp://develop:lkmnBio27@localhost:5672
RABBITMQ_QUEUE=akira_worker
RABBITMQ_QUEUE_DURABLE=true

# Cache configuration
# CACHE_TYPE can be 'inmemory' or 'redis'
# CACHE_TTL is the time-to-live for cache entries in seconds
CACHE_TYPE=inmemory # inmemory, redis
CACHE_TTL=60

# REDIS configuration (uncomment if using Redis)
# REDIS_TTL=60
# REDIS_HOST=127.0.0.1
# REDIS_PORT=46379
# REDIS_USERNAME=default
# REDIS_PASSWORD=lkmnBio27
# REDIS_DB=1
# REDIS_1_HOST=127.0.0.1
# REDIS_1_PORT=46379
# REDIS_1_USERNAME=default
# REDIS_1_PASSWORD=lkmnBio27
# REDIS_1_DB=1
# REDIS_2_HOST=127.0.0.1
# REDIS_2_PORT=46379
# REDIS_2_USERNAME=default
# REDIS_2_PASSWORD=lkmnBio27
# REDIS_2_DB=1
